<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
  <h1>従業員リスト</h1>
  <div>
    <table class="table">
      <thead>
        <th>#</th>
        <th>名前</th>
        <th>所属</th>
        <th>メールアドレス</th>
      </thead>
      <tbody>
        <tr th:each="employee : ${employee}" th:object="${employee}">
          <td th:text="*{id}"></td>
          <td>
            <a th:href="@{/{id}/show(id=*{id})}" th:text="*{name}" ></a>
          </td>
          <td th:text="*{groups}"></td>
          <td th:text="*{email}"></td>
        </tr>
      </tbody>
    </table>
  </div>

</body>
</html>
